<!DOCTYPE html>

<html class="js csscalc cssvhunit cssvwunit vendor-webkit browser-chrome fss-on" lang="en">
<!--<![endif]-->

<head>
 
 <title> Rocket go brrrrr.........</title>

  <meta http-equiv="content-language" content="en">
  <link rel="stylesheet" href="{{ url_for ('static', filename = 'style.css')}}">
</head>

<body>
  <div class="rocket">
    <div class="rocket-body">
      <div class="body"></div>
      <div class="fin fin-left"></div>
      <div class="fin fin-right"></div>
      <div class="window"></div>
    </div>
    <div class="exhaust-flame"></div>
    <ul class="exhaust-fumes">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="star">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>



<!-- 

Courtesy: https://codepen.io/eva_trostlos/pen/aZQoLN

-->